In [1]:
import pandas as pd

In [6]:
dfs = {}
dfs['1_OpenRestaurantApplications'] = pd.read_csv('data/raw/1_OpenRestaurantApplications.csv')
dfs['2_OpenRestaurantInspections'] = pd.read_csv('data/raw/2_OpenRestaurantInspections.csv')
dfs['3_RestaurantInspections'] = pd.read_csv('data/raw/3_RestaurantInspections.csv')
dfs['SidewalkInspection'] = pd.read_csv('data/formatted/SidewalkInspection.csv')

In [7]:
df = dfs['1_OpenRestaurantApplications']

In [8]:
dfs['SidewalkInspection'][dfs['SidewalkInspection']['RestaurantID'].isnull()]

,ID,RestaurantID,InspectedOn,SidewayCompliant,SkippedReason,AgencyCode
79201,2756802178677412334,NaN,2023-12-01 22:00:48+00:00,For HIQA Review,NaN,DOT

In [13]:
import random

3703120273360482077