In [11]:
import pandas as pd

In [12]:
dfs = {}
dfs['OpenRestaurantApplications'] = pd.read_csv('data/raw/1_OpenRestaurantApplications.csv')
dfs['OpenRestaurantInspections'] = pd.read_csv('data/raw/2_OpenRestaurantInspections.csv')
dfs['RestaurantInspections'] = pd.read_csv('data/raw/3_RestaurantInspections.csv')
dfs['SidewalkInspection'] = pd.read_csv('data/formatted/SidewalkInspection.csv')

In [13]:
df = dfs['OpenRestaurantInspections']
addresses = df['BusinessAddress']

In [78]:
grouped = df.groupby('Postcode')

postcode = df.at[0, 'Postcode']

print(grouped.get_group(postcode))

         Borough        RestaurantName SeatingChoice       LegalBusinessName  \
0      Manhattan           Oscar Wilde          both      Camelot Castle LLC
81     Manhattan    CROMPTON ALE HOUSE          both              151DBS INC
82     Manhattan             OUR VODKA          both  OUR/NEW YORK VODKA LLC
86     Manhattan         The Ainsworth          both           FONDUE 26 LLC
89     Manhattan              Gregorys      sidewalk        775 AOA Cafe LLC
...          ...                   ...           ...                     ...
78885  Manhattan  Playwright Irish pub          both        N& A productions
78886  Manhattan       The Liberty NYC          both            18 Fools LLC
79116  Manhattan         missKorea BBQ          both              Oblatn.Inc
79182  Manhattan       MUSTANG HARRY'S      sidewalk     352 RESTAURANT CORP
79185  Manhattan       MUSTANG HARRY'S      sidewalk     352 RESTAURANT CORP

            BusinessAddress  RestaurantInspectionID  IsSidewayCompliant  \
0          45  West 27th st                   72891                 NaN
81     159 WEST   26 STREET                   72977                 NaN
82     151 WEST   26 STREET                   72978                 NaN
86     122 West 26th Street                   72983                 NaN
89              775 6th Ave                   72986                 NaN
...                     ...                     ...                 ...
78885         27  West 35th                  105561                 NaN
78886      29 W 35th Street                  105562                 NaN
79116   10 West 32nd Street                  107787                 NaN
79182    352 SEVENTH AVENUE                  107857                 NaN
79185    352 SEVENTH AVENUE                  107860                 NaN

       IsRoadwayCompliant SkippedReason             InspectedOn AgencyCode  \
0           Non-Compliant           NaN  12/20/2021 04:06:58 PM        DOT
81              Compliant           NaN  12/21/2021 02:25:58 PM        DOT
82          Non-Compliant           NaN  12/21/2021 02:27:25 PM        DOT
86          Non-Compliant           NaN  12/21/2021 02:45:00 PM        DOT
89     Skipped Inspection    No Seating  12/21/2021 02:48:27 PM        DOT
...                   ...           ...                     ...        ...
78885    Cease and Desist           NaN  11/14/2023 02:37:51 PM        DOT
78886    Cease and Desist           NaN  11/14/2023 02:42:16 PM        DOT
79116           Compliant           NaN  11/28/2023 11:52:12 AM        DOT
79182       Non-Compliant           NaN  12/01/2023 12:31:52 PM        DOT
79185           Compliant           NaN  12/01/2023 12:43:45 PM        DOT

       Postcode   Latitude  Longitude  CommunityBoard  CouncilDistrict  \
0         10001  40.744876 -73.989657             5.0              3.0
81        10001  40.745494 -73.993031             5.0              3.0
82        10001  40.745428 -73.992872             5.0              3.0
86        10001  40.745164 -73.992295             4.0              3.0
89        10001  40.744898 -73.991360             5.0              3.0
...         ...        ...        ...             ...              ...
78885     10001  40.749588 -73.985213             5.0              4.0
78886     10001  40.749610 -73.985267             5.0              4.0
79116     10001  40.747444 -73.986203             5.0              4.0
79182     10001  40.748208 -73.992663             5.0              3.0
79185     10001  40.748208 -73.992663             5.0              3.0

       CensusTract        BIN           BBL  \
0             58.0  1015677.0  1.008290e+09
81            95.0  1015034.0  1.008020e+09
82            95.0  1015034.0  1.008020e+09
86            91.0  1015021.0  1.008010e+09
89            95.0  1015042.0  1.008020e+09
...            ...        ...           ...
78885         84.0  1015892.0  1.008370e+09
78886         84.0  1015891.0  1.008370e+09
79116         76.0  1015825.0  1.008330e+09
79182         95.0  1014291.0  1.007790e+09
79185         95.0  1014291.0  1.007790e+09

                                              NTA
0      Hudson Yards-Chelsea-Flatiron-Union Square
81                          Midtown-Midtown South
82                          Midtown-Midtown South
86     Hudson Yards-Chelsea-Flatiron-Union Square
89                          Midtown-Midtown South
...                                           ...
78885                       Midtown-Midtown South
78886                       Midtown-Midtown South
79116                       Midtown-Midtown South
79182                       Midtown-Midtown South
79185                       Midtown-Midtown South

[1327 rows x 20 columns]